<!DOCTYPE HTML>

<header>
    <title>My Page!</title>
    <link type="text/css" rel="stylesheet" href="style.css">
    
    <!-- <meta http-equiv="refresh" content="23" charset="utf-8" > -->
</header>

<body bgcolor="#2c2833">

    <font color="white">
       
        
        <h1 align="center">Tis my web page</h1>
        <hr color="yellow" size="7" width="70%">
        <div id="chi_sono">
            <p> Sono un backend webdeveloper.</p>
        </div>
        <p>Nei link <i>elencati</i>  sotto, trovate alcuni esempi dei miei progetti</p>
    </font>

   
</body>
</html>
