<!DOCTYPE html>
<header>

</header>
<html>
<body bgcolor="grey">
  <center>
    <font color="white">
    <h2>Login</h2>
    <form method="POST" action="http://0.0.0.0:9000/login_form" >
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="password">Password:</label>
      <input type="text" id="password" name="password"><br><br>
      <input type="submit" value="Submit">
    </form></font>
    <h2>{{ message }} </h2>
  </center>

</body>
</html>
